.containerMainRegister{
    width: 100%;
    max-width: 100%;
    margin: auto;
    height: 100vh;
    background-image: url(../public/top-view-newspaper-pieces-arrangement.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* Centrar el contenido con flexbox */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
.form{
    background-color: transparent;
    width: 35%; /* Limitar el ancho máximo para pantallas grandes */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 2rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.858);
    gap: 1rem;
    position: absolute; /* Puedes usar fixed si deseas que el formulario permanezca fijo al hacer scroll */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar exactamente */
    padding: 2rem; /* Añadir un poco de padding para mejorar el aspecto */
}
.form h2{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.inputs input[type="text"], 
.inputs input[type="email"],
.inputs input[type="password"]{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f7f7f7;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.7);
}
.submitButton{
    background-color: #e00000;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.submitButton:hover{
    background-color: #ff3e3e;
}